@model IEnumerable<Order>
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}
<div style="width:100%" class="mt-2">
    <h1 class="text-center">Đơn hàng của tôi</h1>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Ngày đặt</th>
                <th>Tình trạng đơn hàng</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Loại hàng</th>
                                    <th>Giá thành</th>
                                    <th>Tổng thanh toán</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.products.Name</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.products.Productimg))
                                            {
                                                <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                <img src="~/@item.products.Productimg" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.products.tags.Name</td>
                                        <td>@string.Format("{0:#,##0}", item.products.Price) X @item.Quantity Đồng</td>
                                        <td> @string.Format("{0:#,##0}", (item.products.Price * item.Quantity)) Đồng</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>Không có đơn!!</h5>
    }
</div>




