@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Quay lại</a>

    <h4>Đơn hàng của tôi</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Ngày đặt</th>
                <th>Tình trạng đơn hàng</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        Tổng:
                                    </td>
                                    <td>
                                        @(order.OrderDetail.Select(item => item.products.Price * item.Quantity).Sum()) Đồng

                                    </td>
                                </tr>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Loại hàng</th>
                                    <th>Giá thành</th>
                                    <th>Tổng thanh toán</th>
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td>@item.products.Name</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.products.Productimg))
                                            {
                                                <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                <img src="~/@item.products.Productimg" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.products.tags.Name</td>
                                        <td>@item.products.Price X @item.Quantity Đồng</td>
                                        <td> @(item.products.Price * item.Quantity) Đồng</td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>

    }
    else
    {
        <h5>Không có đơn!!</h5>
    }
</div>




