@model IEnumerable<DoAnThucTapFin.Areas.Admin.Models.Banner>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Banner</h1>

<p>
    <a asp-action="Create">Thêm banner</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img style="width: 550px; height: 180px" src="~/@item.Url" alt="Banner Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="far fa-edit"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id">
                    <i class="fas fa-info"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirmDelete()">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function confirmDelete() {
        if (confirm("Bạn có chắc chắn muốn xóa banner này?")) {
            return true;
        } else {
            return false;
        }
    }
</script>

