@model ShoppingCart
@{
    ViewData["Title"] = "Shopping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">
	<div class="container">
        @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
		<div class="row">
			<main class="col-md-12">
				<div class="card">

                    <table class="table table-striped">
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Loại</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                            <th>Điều chỉnh</th>
                        </tr>
                        @foreach (var item in Model.CartDetails)
                        {
                            <tr>
                                <td>@item.products.Name</td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.products.Productimg))
                                    {
                                        <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                    }
                                    else
                                    {
                                        <img src="@item.products.Productimg" style="width:80px;height:100px" />
                                    }
                                </td>
                                <td>@item.products.tags.Name</td>
                                <td>@item.products.Price X @item.Quantity</td>
                                <td>@(item.products.Price * item.Quantity)</td>
                                <td>
                                    <a class="btn btn-info" href="/Cart/AddItem?productId=@item.productid&&redirect=1">+</a>
                                    <a class="btn btn-info" href="/cart/removeitem?productId=@item.productid">-</a>
                                </td>
                            </tr>
                        }
                    </table>
					<div class="card">
						<div class="card-body">
							<dl class="dlist-align">
								<dt>Tổng</dt>
                                    <dd class="text-right">@(Model.CartDetails.Select(item => item.products.Price * item.Quantity).Sum())</dd>
							</dl>
						</div>
					<div class="card-body border-top">
                        <a asp-action="Checkout" asp-controller="Cart" class="btn btn-primary float-md-right">Thanh toán<i class="fa fa-chevron-right"></i> </a>
						<a asp-action="index" asp-controller="Home" class="btn btn-light"> <i class="fa fa-chevron-left"></i>Tiếp tục mua sắm</a>
					</div>
				</div> <!-- card.// -->

				<div class="alert alert-success mt-3">
					<p class="icontext"><i class="icon text-success fa fa-truck"></i>Event! Miễn phí vận chuyển cho đơn hàng trên 15 triệu</p>
				</div>

			</main> <!-- col.// -->
		</div>

        }
        else
        {
            <h5>Giỏ hàng đang trống!</h5>
        }
	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->